@font-face {
    font-family: 'Manrope';
    src: url('../../fonts/Manrope-Medium.eot');
    src: local('../fonts/Manrope-Medium'), local('../fonts/Manrope-Medium'),
    url('../../fonts/Manrope-Medium.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/Manrope-Medium.woff') format('woff'),
    url('../../fonts/Manrope-Medium.woff2') format('woff2'),
    url('../../fonts/Manrope-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Manrope';
    src: url('../../fonts/Manrope-Semibold.eot');
    src: local('../fonts/Manrope-Semibold'), local('../fonts/Manrope-Semibold'),
    url('../../fonts/Manrope-Semibold.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/Manrope-Semibold.woff') format('woff'),
    url('../../fonts/Manrope-Semibold.woff2') format('woff2'),
    url('../../fonts/Manrope-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Manrope';
    src: url('../../fonts/Manrope-Bold.eot');
    src: local('../fonts/Manrope-Bold'), local('../fonts/Manrope-Bold'),
    url('../../fonts/Manrope-Bold.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/Manrope-Bold.woff') format('woff'),
    url('../../fonts/Manrope-Bold.woff2') format('woff2'),
    url('../../fonts/Manrope-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}