@media (min-width: 1920px) {
    .swiper-slide img {
        height: 840px;
        width: 100%;
    }
}
@media (min-width: 1024px) and (max-width: 1439.98px){
    .container {
        padding: 0 30px;
    }
    .header {
        .nav__el {
            margin-right: 14px;
            & > a {
                font-size: 12px;
            }
        }
    }
    .main-bn {
        &__btn {
            width: 100%;
            font-size: 24px;
            padding-left: 20px;
            max-width: 290px;
            &.main-bn__btn_s {
                max-width: 280px;
                font-size: 20px;
            }
        }
    }
    .main-title {
        font-size: 69px;
        line-height: 80px;
    }
    .lang {
        display: none;
        &:before {
            display: none;
        }
        &__el {
            width: 30px;
            font-size: 18px;
            display: inline-block;
        }
        &_lap {
            display: block;
            position: absolute;
            bottom: 40px;
            right: 40px;
            z-index: 10;

        }
    }
}

@media (max-width: 1023.98px) {
    .show-mob {
        display: block;
    }
    .hide-mob {
        display: none;
    }
    .main-bn {
        height: auto;
        background: linear-gradient(106.3deg, #100a38 4.68%, #000 82.14%);
        padding-top: 200px;
        &__btn {
            font-size: 22px;
            max-width: 320px;
            &_s {
                max-width: 280px;
            }
        }
    }
    .main-title {
        margin-top: 0;
        font-size: 52px;
        line-height: 1.28;
    }
    .burger {
        width: 40px;
        height: 40px;
        display: flex;
        & > span {
            width: 30px;
            height: 2px;
            border-radius: 4px;
            background: #ffffff;
            margin-bottom: 6px;
            display: block;

            &:last-child {
                margin-bottom: 0;
            }
        }
        &.active {
            span {
                transition: all ease .2s;
                &:nth-of-type(1) {
                    transform: rotate(45deg) translate(10px, 10px);
                }
                &:nth-of-type(2) {
                    opacity: 0;
                }
                &:nth-of-type(3) {
                    transform: rotate(-45deg) translate(2px, -1px);
                }
            }
        }
    }
    .header {
        padding: 19px 15px;
        position: fixed;
        top: 0;
        left: 0;
        background: linear-gradient(106.3deg, #100a38 4.68%, #000 82.14%);
        width: 100%;
        &_r {
            display: block;
            transform: translateX(100%);
            width: calc(100% + 30px);
            height: 100vh;
            top: 88px;
            left: -15px;
            padding: 40px 30px 0;
            background: linear-gradient(82.14deg, #100a38 4.68%, #000 82.14%);
            position: absolute;
            transition: all ease .3s;
            .nav {
                max-height: 330px;
                &__el {
                    width: 100%;
                    margin-bottom: 20px;
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
            &.show {
                transform: translateX(0);
            }
        }
        .lang {
            margin-left: 0;margin-top: 40px;
            &__el {
                text-align: left;
            }
            &:before {
                display: none;
            }
        }
    }
}
@media(min-width: 768px) and (max-width: 1023.98px){
    .container {
        padding: 0 30px;
    }
    .jury  {
        .user-photo {
            width: 16.666%;
        }
    }
}
@media(max-width: 767.98px) {
    .container {
        padding: 0 15px;
    }
    .main-title {
        margin-top: 0;
        font-size: 33px;
        line-height: 55px;
    }
    .main-bn {
        height:  auto;
        background: linear-gradient(106.3deg, #100a38 4.68%, #000 82.14%);
        padding-top: 130px;
        &__btn {
            &_s {
                margin-top: 30px;
            }
        }
    }
    .block-data__txt {
        font-weight: 600;
        font-size: 20px;
        line-height: 1;
    }
    .block-data {
        margin-bottom: 70px;
        margin-top: 50px;
        &__el {
            width: auto;
        }
    }
    .jury {
        .user-photo {
            width: 33.3%;
            padding: 2px;
            & > img {
                width: 100%;
                height: auto;
            }
            &:nth-of-type(4n) {
                &:hover {
                    .user__description {
                        right: 100%;
                        left: auto;
                    }
                }
            }
            &:before {
                display: none;
            }
        }
    }
}
@media(min-width: 425px) and (max-width: 767.98px){
    .jury {
        .user-photo {
            width: 25%;
        }
    }
}
@media(max-width: 424.98px) {
    .jury {
        .user-photo {
            &:nth-of-type(3n) {
                &:hover {
                    .user__description {
                        right: 100%;
                        left: auto;
                    }
                }
            }
            .user__name {
                font-size: 18px;
                margin-bottom: 4px;
            }
        }
    }
}